manifests/core/cilium/charts
manifests/core/kubelet-csr-approver/charts
manifests/core/metrics-server/charts
manifests/argo/argo-cd/charts
manifests/storage/proxmox-csi-plugin/charts
.conf
# Terraform
.terraform*
*.tfstate*

# Provider
config.env

# Talos
talosconfig

# Kubernetes
kubeconfig

# MacOS
.DS_Store
